REACT_APP_API_URL= https://api1.peymynt.com/api/v1/admin
REACT_APP_WEB_URL=https://dev.peymynt.com
REACT_APP_PUBLIC_URL=https://dev.peymynt.me
REACT_APP_HOME_URL=https://dev-admin.peymynt.com
REACT_APP_CDN_URL=https://peymynt-beta.s3-us-west-1.amazonaws.com
REACT_APP_NODE_ENV=development
REACT_APP_API_GATEWAY_URL=https://zrxfspyt4c.execute-api.ap-south-1.amazonaws.com/dev
REACT_APP_EVENT_JWT_SECRET=1d71d6e62b6f4073c33f2284588457fe78eab6d6
